<!-- <div class="left-panel"> -->
    <img src="images/photo_bsky.jpg" alt="">
    <h2>Théo Valentin</h2>
    <ul>
<!--         <li><button onclick="loadPage('pages/about.html')">About</button></li>
        <li><button onclick="loadPage('pages/subpage.html')">Subpage</button></li>
        <li><button onclick="loadPage('pages/yetanotherpage.html')">Yet Another Page</button></li> -->
        <li><a href="https://twitter.com/yourtwitter" target="_blank">Bluesky</a></li>
        <li><a href="https://twitter.com/yourtwitter" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/yourgithub" target="_blank">GitHub</a></li>
        <li><a href="https://linkedin.com/in/yourlinkedin" target="_blank">LinkedIn</a></li>
    </ul>
<!-- </div> -->
