<!-- <div class="left-panel"> -->
    <img src="images/photo_bsky.jpg" alt="">
    <h2>Théo Valentin</h2>
    <ul>
<!--         <li><button onclick="loadPage('pages/about.html')">About</button></li>
        <li><button onclick="loadPage('pages/subpage.html')">Subpage</button></li>
        <li><button onclick="loadPage('pages/yetanotherpage.html')">Yet Another Page</button></li> -->
        <li><a href="https://bsky.app/profile/theovalentinecon.bsky.social" target="_blank">Bluesky</a></li>
        <li><a href="https://x.com/ValentinTheo_" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/ValentinTheo" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/th%C3%A9o-valentin-7153ab186/" target="_blank">LinkedIn</a></li>
    </ul>
<!-- </div> -->
