<!-- templates/left-panel.html -->
<div class="left-panel">
    <img src="path/to/your/photo.jpg" alt="Your Photo">
    <h2>Your Name</h2>
    <ul>
        <li><a href="valentintheo.github.io/test_website/index.html">About</a></li> <!-- Link back to the main page -->
        <li><a href="valentintheo.github.io/test_website/pages/subpage.html">Subpage</a></li> <!-- Link to the subpage -->
        <li><a href="https://twitter.com/yourtwitter" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/yourgithub" target="_blank">GitHub</a></li>
        <li><a href="https://linkedin.com/in/yourlinkedin" target="_blank">LinkedIn</a></li>
    </ul>
</div>
